<% content_for :content do %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <%= link_to "Shinme Note", admin_root_path, class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <% if authenticated? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= Current.user.email_address %>
              </a>

              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <%= link_to "ログアウト", session_path, data: { turbo_method: :delete}, class: "dropdown-item" %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container py-3">
    <%= yield %>
  </div>
<% end %>
<%= render template: "layouts/application" %>